<?xml version="1.0" encoding="UTF-8"?>


<suite name="Main Test Suite" parallel="tests" >
    <test name="prueba Summary Page en CHROME">

        <classes>
            <class name="SummaryPageTest"></class>
        </classes>
    </test>
    <test name="prueba Login Page en FIREFOX">
        <classes>
            <class name="LoginPageTest"></class>
        </classes>
    </test>

</suite>